<%- include('partials/header') %>

<body>
    <main>
    <!-- Awal Sidebar -->
    <%- include('partials/sidebars') %>
    <!-- Akhir Sidebar -->
    <div>
        <h1>Mamat Manja!</h1>
    </div>
    </main>

    <%- include('partials/footer') %>
</body>

</html>